body {
  margin: 10px;
}

/* 16px=100%=1em */
.name {
  text-align: center;
  background-color: #f8f5f1;
}

.name:hover {
  background-color: #a7bbc7;
}

h1 {
  padding-top: 10px;
  font-size: 250%;
  margin: 0 auto 0 auto;
  color: #66BFBF;
  font-family: Sacramento, serif;
  font-weight: 5000;
  line-height: 2;
}

h2 {
  padding: 10px;
  font-family: 'Merriweather', serif;
  font-weight: bolder;
  color: #66BFBF;
  text-align:center;
}

h3 {
  font-family: 'Merriweather', serif;
  color: #11999E;
}

.anchors{
  color: #11999E;
  text-decoration: none;
}
.para {
  width: 300px;
  margin: auto;
  font-size: 1.5em;
  font-weight: normal;
  color: #11999E;
  line-height: 2;
}

.uppercloud {

  margin: 40px auto 20px auto;
  margin-left: 50%;
}

.lowercloud {
  position: absolute;
}
.mountain{
  width: 50%;
}

p {
  font-family: 'Montserrat', sans-serif;
}

/* font-family: 'Sacramento', cursive; */
.photosandintro {
  text-align: center;
}
.beep{
  text-align: right;
  width:20%;
  margin-left: 60%;
}

.myphoto {
  padding: 20px;
  border-radius: 100%;
  height: 200px;
  width: auto;
}

.pro {
  font-weight: bold;

}

.skills {
  text-align: left;
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 2;
}

.line {
  border-style: solid;
  border-width: medium;
  border-color: black;
}

.contactme {
  text-align: center;
}

.andy{
  width: 25%;
  float:left;
  margin-left: 30px;
}
.programmer{
  width: 25%;
  float: right;
  margin-right: 30px;
}
.contactbutton {
   background: #11999E;
   background-image: -webkit-linear-gradient(top, #11999E, #11999E);
   background-image: -moz-linear-gradient(top, #11999E, #11999E);
   background-image: -ms-linear-gradient(top, #11999E, #11999E);
   background-image: -o-linear-gradient(top, #11999E, #11999E);
   background-image: -webkit-gradient(to bottom, #11999E, #11999E);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Helvetica;
   font-size: 35px;
   font-weight: 100;
   padding: 11px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: -2px 1px 100px #000000;
   border: groove #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.contactbutton:hover {
   border: solid #3DF3F6 0;
   background: #3DF3F6;
   background-image: -webkit-linear-gradient(top, #3DF3F6, #3DF3F6);
   background-image: -moz-linear-gradient(top, #3DF3F6, #3DF3F6);
   background-image: -ms-linear-gradient(top, #3DF3F6, #3DF3F6);
   background-image: -o-linear-gradient(top, #3DF3F6, #3DF3F6);
   background-image: -webkit-gradient(to bottom, #3DF3F6, #3DF3F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.footer{
  background-color:  #11999E;
  text-align: center;
}
.table{
  text-align: center;
  margin: auto;

}
.footerpara{
  color: white;
  width: 10%;
  margin: 2px auto 2px auto;
  padding: 2%;
  font-size: 70%;
}
.footeranchors{
  text-decoration: none;
  color: #fcecdd;
  font-family: cursive;
  font-weight: bolder;
}

.footeranchors:hover{
  color: #ff7b54;
}



/* flagpart */
.flag {
  border: solid 5px;
  text-align: center;
}

.topcontainer {
  background-color: orange;
  height: 100px;
  width: auto;
}

.middlecontainer {
  background-color: white;
  height: 100px;
  width: auto;
}

.chakra {
  height: 80px;
  width: 80px;
  /* position: absolute;
  left: 45%; */
  margin-top: 10px;
  margin-bottom: 10px;
}
.bottomcontainer {
  background-color: green;
  height: 100px;
  width: auto;
}
